---
interface Props {
  title: string;
  description: string;
  cta: {
    text: string;
    link: string;
  };
  background: string;
}

const { title, description, cta, background } = Astro.props;
---

<div class="max-w-screen-lg mx-auto">
  <div
    class="relative px-16 aspect-video bg-cover bg-center flex items-center"
    style={`background-image: url(${background})`}
  >
    <div class="relative z-10 text-white">
      <h1 class="font-kanit leading-10 max-w-2xl text-5xl font-medium text-orange-300" set:html={title} />
      <p class="font-poppins font-thin text-sm max-w-[350px] mt-4">
        {description}
      </p>

      <p class="max-w-[320px] font-poppins mt-4 text-sm">
        <slot name="cta">
          <a href={cta.link} class="text-orange-300 underline">{cta.text}</a>
        </slot>
      </p>
    </div>

    <div
      class="absolute bottom-0 z-0 left-0 w-full h-full bg-linear-to-r from-black/80 to-black/30"
    >
    </div>
  </div>
</div> 